@model IEnumerable<SFS_ASP_1.Models.DocumentosViewModel>

@{
    ViewBag.Title = "Guias";
}

<h2>Guias de remision</h2>
@using (Html.BeginForm("Index", "Guias", FormMethod.Post))
{
    <fieldset>
        <legend>Criterios de búsqueda</legend>
        <div class="form-inline">
            <input id="FecIni" name="FecIni" class="form-control" type="date" value="@ViewBag.FecIni" />
            <input id="FecFin" name="FecFin" class="form-control" type="date" value="@ViewBag.FecFin" />
            @Html.TextBox("Ruc", "", new { placeholder = "RUC", @class = "form-control" })
            @Html.TextBox("RazSoc", "", new { placeholder = "Razón social", @class = "form-control" })
            @Html.TextBox("FolioNum", "", new { placeholder = "Número", @class = "form-control" })
            <input class="btn btn-outline-primary" type="submit" value="Buscar" id="btnFiltrar" />
        </div>
    </fieldset>
}
<table class="table table-sm">
    <tbody>
        <tr>
            <th>Fecha</th>
            <th>Serie</th>
            <th>Número</th>
            <th>Ruc</th>
            <th>Denominación</th>
            <th>Total venta</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>

    @foreach (var item in Model)
    {
<tr>
    <td width="100px">@Html.DisplayFor(modelItem => item.DocDate)</td>
    <td>@Html.DisplayFor(modelItem => item.SeriesName)</td>
    <td>@Html.DisplayFor(modelItem => item.FolioNum)</td>
    <td>@Html.DisplayFor(modelItem => item.LicTradNum)</td>
    <td>@Html.DisplayFor(modelItem => item.CardName)</td>
    <td>@Html.DisplayFor(modelItem => item.DocTotal)</td>
    @if (string.IsNullOrEmpty(item.U_ResponseCode))
    {

        <td>@Html.ActionLink("Sunat", "GuiaCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
    }
    else if (item.U_ResponseCode == "0")
    {
        <td>@Html.ActionLink("Sunat", "GuiaCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
    }
    else
    {
        <td>@Html.ActionLink("Sunat", "GuiaCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
    }

    @if (string.IsNullOrEmpty(item.U_DigestValue))
    {
        <td>
            <div style="font-size:10px" class="alert alert-dark" role="alert">Documento sin firmar</div>
        </td>
    }
    else
    {
        <td>
            <div style="font-size:10px" class="alert alert-success" role="alert">XML Firmado</div>
        </td>
    }

    @if (string.IsNullOrEmpty(item.U_ResponseCode))
    {

        <td>
            <div style="font-size:10px" class="alert alert-dark" role="alert">D.E. no enviado</div>
        </td>

    }
    else if (item.U_ResponseCode == "0")
    {
        <td>
            <div style="font-size:10px" class="alert alert-success" role="alert">@item.U_Description</div>
        </td>

    }
    else
    {
        <td>
            <div style="font-size:10px" class="alert alert-danger" role="alert">@item.U_Description</div>
        </td>
    }

    <td>@Html.ActionLink("PDF", "GenReport", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
    <td>@Html.ActionLink("E-mail", "MailCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>

</tr>
    }

</table>

<script>

</script>