@model IEnumerable<SFS_ASP_1.Models.DocumentosViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Facturas</h2>
<h4 class="text-danger">@ViewBag.Error</h4>
<h4 class="text-success">@ViewBag.Confirmacion</h4>

@using (Html.BeginForm("Index","Facturas",FormMethod.Post))
{
<fieldset>
    <legend>Criterios de búsqueda</legend>
    <div class="form-inline">
        <input id="FecIni" name="FecIni" class="form-control" type="date" value="@ViewBag.FecIni" />
        <input id="FecFin" name="FecFin" class="form-control" type="date" value="@ViewBag.FecFin" />

        @Html.TextBox("Ruc", "", new { placeholder = "RUC", @class = "form-control" })
        @Html.TextBox("RazSoc", "", new { placeholder = "Razón social", @class = "form-control" })
        @Html.TextBox("FolioNum", "", new { placeholder = "Número", @class = "form-control" })
        <input class="btn btn-outline-primary" type="submit" value="Buscar" />
    </div>
</fieldset>
}

<table class="table table-sm">
    <thead class="position-static">
        <tr>
            <th>Fecha</th>
            <th>Serie</th>
            <th>Número</th>
            <th>Ruc</th>
            <th>Denominación</th>
            <th>Total venta</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td width="100px">@Html.DisplayFor(modelItem => item.DocDate)</td>
                <td>@Html.DisplayFor(modelItem => item.SeriesName)</td>
                <td>@Html.DisplayFor(modelItem => item.FolioNum)</td>
                <td>@Html.DisplayFor(modelItem => item.LicTradNum)</td>
                <td>@Html.DisplayFor(modelItem => item.CardName)</td>
                <td>@Html.DisplayFor(modelItem => item.GrosProfit)</td>
                <td>@Html.DisplayFor(modelItem => item.DocTotal)</td>
                @if (string.IsNullOrEmpty(item.U_ResponseCode))
                {
                    <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
                }
                else if (item.U_ResponseCode == "0")
                {
                    <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
                }
                else
                {
                    <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
                }

                @if (string.IsNullOrEmpty(item.U_DigestValue))
                {
                    <td>@Html.ActionLink("Xml", "GetXml", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
                }
                else
                {
                    <td>@Html.ActionLink("Xml", "GetXml", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
                }

                @if (string.IsNullOrEmpty(item.U_ResponseCode))
                {
                    <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
                }
                else if (item.U_ResponseCode == "0")
                {
                    <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
                }
                else
                {
                    <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
                }

                <td>@Html.ActionLink("PDF", "GenReport", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>

            </tr>
        }

    </tbody>
</table>


<script>
    function GetClientReport() {
        window.open("/{ControllerName}/GenReport", "_blank");
    };
</script>
