@model IEnumerable<SFS_ASP_1.Models.FacturaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p class="form-inline">
        <table class="table">
            <thead>
                <tr><td>Filtar</td></tr>
            </thead>
            <tr>
                <td>Desde:@Html.TextBox("FecIni", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })</td>
                <td>Hasta:@Html.TextBox("FecFin", String.Format("{0:dd/MM/yyyy}", DateTime.Now), new { @class = "form-control datepicker", @type = "datetime" })</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBox("Ruc", "", new { placeholder = "RUC", @class = "form-control text-box" })</td>
                <td>@Html.TextBox("RazSoc", "", new { placeholder = "Razón social", @class = "form-control text-box" })</td>
            </tr>
            <tr>
                
                <td>
                    <input style="vertical-align:central" type="submit" value="Buscar" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </p>
}

<table class="table table-sm">
    <tbody>
        <tr>
            <th>Fecha</th>
            <th>Serie</th>
            <th>Número</th>
            <th>Ruc</th>
            <th>Denominación</th>
            <th>Valor venta</th>
            <th>Total venta</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td width="100px">@Html.DisplayFor(modelItem => item.DocDate)</td>
            <td>@Html.DisplayFor(modelItem => item.SeriesName)</td>
            <td>@Html.DisplayFor(modelItem => item.FolioNum)</td>
            <td>@Html.DisplayFor(modelItem => item.LicTradNum)</td>
            <td>@Html.DisplayFor(modelItem => item.CardName)</td>
            <td>@Html.DisplayFor(modelItem => item.GrosProfit)</td>
            <td>@Html.DisplayFor(modelItem => item.DocTotal)</td>
            @if (string.IsNullOrEmpty(item.U_ResponseCode))
            {
                <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
            }
            else if (item.U_ResponseCode == "0")
            {
                <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
            }
            else
            {
                <td>@Html.ActionLink("Sunat", "FacCreate", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
            }

            @if (string.IsNullOrEmpty(item.U_DigestValue))
            {
                <td>@Html.ActionLink("Xml", "GetXml", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
            }
            else
            {
                <td>@Html.ActionLink("Xml", "GetXml", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
            }

            @if (string.IsNullOrEmpty(item.U_ResponseCode))
            {
                <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm", @style = "width:85px" })</td>
            }
            else if (item.U_ResponseCode == "0")
            {
                <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-primary btn-sm", @style = "width:85px" })</td>
            }
            else
            {
                <td>@Html.ActionLink("CDR", "GetCdr", new { id = item.DocEntry }, htmlAttributes: new { @class = "btn btn-danger btn-sm", @style = "width:85px" })</td>
            }

        </tr>
    }

</table>
